# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
node_modules/
__pycache__/

token
cd-kubeconfig.yaml
homework-cd-config.yaml

# Helm / Helmfile
charts/*.tgz
.helmfile-work/